# Node.js modules
node_modules/

# macOSのゴミファイル
.DS_Store

# Viteやビルド成果物
dist/

# VSCodeの個人設定（必要に応じて）
.vscode/

# Logファイル
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS固有キャッシュ
Thumbs.db
ehthumbs.db
Icon?
